:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 0 0 50px;
  padding: 0;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: normal;
  font-family: inherit;
  margin-top: 20px;
  padding: 5px 40px 10px 40px;
  background-color: #B92A35;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:disabled {
  background-color: #61272c;
  cursor: none;
}

input {
  margin-right: 20px;
}

input[type='radio']:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px; 
  border-radius: 50%;
  background-color: #B92A35;
}

textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
